<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
<<<<<<< HEAD
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/#contact">contact page</a>.
</p>
=======
  This is the <h1>Contact</h1> page for the Rohit
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/#contact">contact page</a>.
</p>
>>>>>>> 2b1df0c97c164e7be3fe0c418d10987097c03347
