
<html>
  <head>
   
  </head>
  <body>
    
    <p>
      This is the <h1>Help</h1> page for the Rohit
      <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
  </body>
</html>