<<<<<<< HEAD
<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
 
  </head>
  <body>
    <h1>Help</h1>
    <p>
      Get help on the Ruby on Rails Tutorial at the
      <a href="http://www.railstutorial.org/#help">Rails Tutorial help
      section</a>.
      To get help on this sample app, see the
      <a href="http://www.railstutorial.org/book"><em>Ruby on Rails
      Tutorial</em> book</a>.
=======

<html>
  <head>
   
  </head>
  <body>
    
    <p>
      This is the <h1>Help</h1> page for the Rohit
      <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
>>>>>>> 2b1df0c97c164e7be3fe0c418d10987097c03347
    </p>
  </body>
</html>