<!DOCTYPE html>
<% provide(:title, "Home Page Data") %>
<html>
  <head>
   
  </head>
  <body>
    
    <p>
      This is the home page for the
      <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
  </body>
</html>